{% extends "main/base.html" %}
{% load static %}
{% load static tailwind_tags %}


{% block title  %}
<title>Eliminar usuario</title>
{% endblock title  %}

{% block main %}
{% if messages %}
{% for mensaje in  messages %}
<div class="bg-red-100 border border-black text-green-600 px-4 py-3 rounded">
    <span class="block">{{ mensaje }}</span>
</div>
{% endfor %}
{% else %}
{% endif %}

<div class="flex overflow-x-auto shadow-md sm:rounded-lg items-center justify-center mx-6 mt-7 flex-col gap-5">
    <h1>¿Estás seguro de que deseas eliminar el usuario "{{ usuario.username }}"?</h1>
    <form method="post" action="{% url 'auth2:eliminar-usuario' usuario.id  %}" class="flex flex-col">
        {% csrf_token %}
        <div>
            <button type="submit" name="confirmar" type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Confirmar</button>
           
            <a href="{% url 'auth2:listar-usuarios' %}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Cancelar</a>
        </div>
        
    </form>
</div>



{% endblock main %}