{% extends "main/base.html" %}
{% load static %}
{% load static tailwind_tags %}


{% block title  %}
<title>Categorias</title>
{% endblock title  %}

{% block main %}


<div class="flex items-center justify-center mt-20 ">
    <a href="{% url 'auth2:crear-usuario' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Crear usuario</a>
</div>

<!-----------------------tabla productos------------------------------------------>
<div class="flex overflow-x-auto shadow-md sm:rounded-lg items-center justify-center mx-6 mt-7">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>

                <th scope="col" class="px-6 py-3">
                    Correo Electronico
                </th>

                <th scope="col" class="px-6 py-3">
                    Nombre Tienda
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            {% if usuarios %}
            
            {% for usuario in usuarios  %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ usuario.username|capfirst }}
                </th>

                <td class="px-6 py-4">
                    {{ usuario.email }}
                </td>

                <td class="px-6 py-4">
                    {% if usuario.is_vendor %}
                        {{ usuario.products.name }}
                    {% elif usuario.is_admin %}
                        Admin
                    {% else %}
                        No tiene tienda
                    {% endif %}
                    
                </td>
                
                <th class="px-6 py-4">
                    <a href="{% url 'auth2:editar-usuario' usuario.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-3">Edit</a>
                    <a href="{% url 'auth2:eliminar-usuario' usuario.id %}" class="font-medium text-red-600 dark:text-red-700 hover:underline">Delete</a>

                    {% comment %} <button data-modal-target="modal-eliminar-{{ producto.id }}" data-modal-toggle="modal-eliminar-{{ producto.id }}" class="font-medium text-red-600 dark:text-red-700 hover:underline">Delete</button> {% endcomment %}
                </th>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" class="text-center">No hay categorias</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>


{% endblock main %}

